@using PresentationLayer.Models.Order.VM
@model CreateOrderVM

<h2>Add New Order</h2>


<form action="/Order/Create" method="post">
    <div class="form-group">
        <label>Customer :</label>
        <select name="customerId" asp-items='new SelectList(Model.Customers, "Id", "Name")'></select>
    </div>
    <div class="form-group">
        <label>Products :</label>
        <div id="productFieldsContainer">
            @foreach (var product in Model.Products)
            {
                <div class="form-group">
                    <label>@product.Name</label>
                    <input name="productAmounts[@product.Id]" type="number" class="form-control" min="0" value="0" />
                    @*
                        productAmounts[0] 🚩🚩 productId = 1 🚩🚩( amount )
                        productAmounts[1] = 2
                        productAmounts[2] = 3
                        productAmounts[3] = 4

                    *@
                </div>
            }
        </div>


    </div>

    <button type="submit" class="btn btn-success">Create Order</button>

    <a asp-action="Index">Back to List</a>
</form>