@using BusinessLayer.DTOs
@model OrderDetailsDto
@{
    var products = new List<int>
    {
        1,2,3
    };
}

@{
    Layout = "_Layout3";
}

<form action="/Order/Update/@Model.Id" method="post">
    <div>
        <label for="Rating"></label>
        <input type="number" name="Rating" id="Rating" value="@Model.Rating" />
    </div>

    <div>
        <label for="Review"></label>
        <input type="text" name="Review" id="Review" value="@Model.Review" />
    </div>

    <div>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>


@*     

<select multiple>
    @foreach (var productId in products)
    {
        <option value="@productId">@productId</option>
    }
</select> 
    
*@


@* @section Scripts {
    <a></a>
    <style></style>
    <script></script>
} *@

@* @section section1 {
    <a>Go</a>
} *@
@* @section section2 {
    <h1>Hi</h1>
} *@