<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        @RenderSection("section1")
        @RenderSection("section2",false);
        <img src="~/Images/1.jpg" width="100px" />
    </div>
</body>
</html>