@using PresentationLayer.Models.User
@model LoginActionRequest

@{
    ViewData["Title"] = "Login";
}
<hr />

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label class="form-check-label">
            <input asp-for="RememberMe" class="form-check-input" />
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-outline-success">
    </div>
</form>


@section Scripts {
    @*Enable Client Side Validation*@
    <partial name="_ValidationScriptsPartial" />
}