@using PresentationLayer.Models.Roles.ActionRequests
@model CreateRoleActionRequest

@{
    ViewData["Title"] = "Create Role";
}
<hr />

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-success">
    </div>

    <div>
        <a asp-action="Index">Back to list</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}